/* .area {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 400vh;
} */

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300vh;
  overflow: hidden;
  z-index: 0;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 2rem;
  height: 2rem;
  background: var(--accent-color-faded);
  opacity: 0.2;
  animation: animate 25s linear infinite;
  bottom: -15rem;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 8rem;
  height: 8rem;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 2rem;
  height: 2rem;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 2rem;
  height: 2rem;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 6rem;
  height: 6rem;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 2rem;
  height: 2rem;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 11rem;
  height: 11rem;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 15rem;
  height: 15rem;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 2.5rem;
  height: 2.5rem;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 1.5rem;
  height: 1.5rem;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 15rem;
  height: 15rem;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  90% {
    opacity: 1;
  }

  100% {
    transform: translateY(-300vh) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
