:root {
  --nav-bg: #f2f3f5;
  --link-text: #fff;
  --accent-color: #8a3ffc;
  --accent-color-faded: #8b3ffc10;
  --heading-color: #252a7c;
  --text-color: #484848;
  --main-font: "Raleway", sans-serif;
  --bg: #fff;
  --mohit-bg-gradient1: #ffffff26;
  --mohit-bg-gradient2: #ffffff30;
  --mohit-bg-gradient3: #ffffff33;
  --mohit-bg-gradient4: #ffffffcc;

  --feat-bg: #ffffff80;

  --project-bg1: #8a3ffc0d;
  --project-bg2: #ffffff0d;
  --nav-bg2: #ffffff00;
}
/* :root {
  --nav-bg: #313131;
  --link-text: #fff;
  --accent-color: #8a3ffc;
  --accent-color-faded: #8b3ffc10;
  --heading-color: #e0e7ff;
  --text-color: #e1e1e1;
  --main-font: "Raleway", sans-serif;
  --bg: #1d1d1d;
  --mohit-bg-gradient: linear-gradient(
    270deg,
    #1d1d1d26 0%,
    #1d1d1d30 0.01%,
    #1d1d1d31 0.02%,
    #1d1d1d33 46.88%,
    #1d1d1d 98.88%,
    #1d1d1d 100%
  );
  --feat-bg: linear-gradient(90deg, #1d1d1d 20%, #1d1d1d80 50%, #1d1d1d 80%);
  --project-bg: radial-gradient(
    50.03% 141.34% at 50.03% 50.05%,
    #8a3ffc0d 0%,
    #1d1d1d0d 100%
  );
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  transition: color 0.2s, background 1s;
}
html {
  font-size: 50%;
  font-family: var(--main-font);
  color: var(--text-color);
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar {
  display: none;
}
body {
  background-color: var(--bg);
}
button {
  border: none;
  font-family: var(--main-font);
  color: var(--link-text);
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}
/*********************************/
main {
  overflow: hidden;
}
section {
  min-height: 100vh;
  padding: 5.5rem 0rem;
  position: relative;
}
section:not(#home) {
  width: 135rem;
  margin: auto;
  z-index: 1;
}
h2 {
  color: var(--heading-color);
  font-weight: 700;
  font-size: 5rem;
  margin-bottom: 8vh;
}
section:not(#home):after {
  content: "";
  width: 1.433rem;
  height: 6.855rem;
  background-color: var(--accent-color);
  position: absolute;
  top: 5rem;
  left: -4rem;
}
h3 {
  font-weight: 600;
  font-size: 4rem;
  line-height: 4.7rem;
  color: var(--heading-color);
  margin-bottom: 1.5rem;
}
svg {
  width: 2.4rem;
  height: auto;
}
.trans {
  transition: all 0.3s ease-in-out;
}
/*************nav********************/
nav ul li svg {
  transform: scale(0.9);
}
nav {
  position: fixed;
  bottom: 50%;
  left: 2rem;
  transform: translateY(50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 2rem;
}
li {
  list-style: none;
}

nav ul li a {
  display: flex;
  align-items: center;
  color: var(--text-color);
  padding: 1rem 2.3rem;
  transition: 0.3s;
  font-size: 2rem;
  border-radius: 50rem;
  background: var(--nav-bg);
  height: 7rem;
  width: 7rem;
  overflow: hidden;
}
nav ul li a span {
  display: none;
  padding: 0 1rem;
}
nav ul li a:hover span {
  display: block;
}
nav ul li a:hover {
  color: var(--link-text);
  background: var(--accent-color);
  width: 100%;
}

/* nav ul li.active {
} */
nav ul li.active a {
  color: var(--link-text);
  background: var(--accent-color);
}
/**********links*******************/
.back-to-top {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent-color);
  position: fixed;
  bottom: 4rem;
  right: 2.5rem;
  flex-direction: column;
  z-index: 1;
  transition: all 0.3s;
  border-radius: 50rem;
  opacity: 0;
  z-index: 99999;
  border: 0.1rem solid var(--bg);
}
.back-to-top svg {
  fill: var(--link-text);
}
.back-to-top:hover {
  transform: translateY(-20%);
}
.back-to-top-active {
  opacity: 1;
}

.links {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5rem;
  z-index: 1;
  transition: all 0.3s;
  z-index: 99999;
}
.link-icon svg {
  fill: var(--text-color);
  width: 2.4rem;
}
.link-icon:hover svg {
  fill: var(--accent-color) !important;
}

.links-on-side {
  position: fixed;
  top: 47%;
  right: 7rem;
  flex-direction: column;
  gap: 2rem;
}
.links-on-side .link-icon {
  width: 5rem;
  height: 5rem;
  background: var(--nav-bg);
  border-radius: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/**********display-mode****************/
.display-mode {
  position: fixed;
  right: 0;
  top: 2.4rem;
  padding: 0.8rem 1rem;
  background-color: var(--text-color);
  border-radius: 50rem 0 0 50rem;
  z-index: 99999;
}
.display-mode svg {
  fill: var(--bg);
}
.light {
  display: none;
}

/*************home********************/

#home {
  background-image: linear-gradient(
      270deg,
      var(--mohit-bg-gradient1) 0%,
      var(--mohit-bg-gradient2) 0.01%,
      var(--mohit-bg-gradient2) 0.02%,
      var(--mohit-bg-gradient3) 46.88%,
      var(--bg) 98.88%,
      var(--bg) 100%
    ),
    url(./assets/mohit-bg.webp);
  /* filter: saturate(1.4); */
  background-size: 92%;
  background-position: left 150% top -15rem;
  background-attachment: fixed;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-weight: 500;
  font-size: 3.5rem;
  margin-left: 12%;
  /* z-index: -1; */
  padding-left: 3.5rem;
}
.left-pane {
  width: 13%;
  height: 100%;
  background: var(--bg);
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
}

#home h1 {
  font-weight: 700;
  font-size: 9.5rem;
}
.landing {
  z-index: 1;
}
/*************about********************/
#about {
  position: relative;
}

.introduction {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  gap: 5rem;
}

.img-container {
  height: 40rem;
  width: 50rem;
  cursor: pointer;
}
.img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.img-box img {
  position: absolute;
}
.front {
  z-index: 1;
  opacity: 0;
  width: 60%;
}
.back {
  /* filter: hue-rotate(180deg); */
  z-index: -1;
}
.mohit {
  width: 42%;
  transform: translate(0, -5%);
}
.icss {
  width: 60%;
  filter: hue-rotate(45deg);
  opacity: 0.9;
}
.ihtml {
  transform: translate(-45%, 0);
  width: 43%;
  opacity: 0.5;
}
.img-box:hover .ihtml {
  transform: rotate(-10deg) translate(-92%, 0);
  overflow: hidden;
  opacity: 1;
}
.ijs {
  transform: translate(40%, 0);
  width: 43%;
  opacity: 0.5;
}
.img-box:hover .ijs {
  transform: rotate(10deg) translate(91%, 0);
  overflow: hidden;
  opacity: 1;
}
.img-box:hover .front {
  opacity: 1;
}

.intro {
  width: 60rem;
  font-size: 2.2rem;
  color: var(--text-color);
  line-height: 3rem;
}
.intro ul li {
  list-style: none;
  margin-top: 1.5rem;
  margin-left: 3rem;
  position: relative;
}
.intro ul li::after {
  content: ">";
  position: absolute;
  left: -2rem;
  top: 50%;
  transform: translateY(-60%);
  color: var(--accent-color);
  font-family: cursive;
}
.intro em {
  font-size: 2rem;
}

.Resume-btn {
  width: 18rem;
  height: 6rem;
  background: var(--accent-color);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2.2rem;
  margin-top: 2rem;
}

.slider-container {
  background: radial-gradient(
    50.03% 2550.33% at 50.03% 50%,
    rgba(138, 63, 252, 0.05) 0%,
    rgba(9, 10, 29, 0) 100%
  );
  z-index: 111;
  padding: 2rem 0 0;
  margin-top: 8vh;
}
.swiper-slide {
  width: 32rem;
}
.skill-set {
  display: flex;
  gap: 3rem;
  opacity: 0.9;
}
.swiper-slide .skill-item {
  height: 8rem;
}
.swiper-slide .skill-item img {
  height: 100%;
}

.swiper-pagination {
  margin-top: 5rem;
  position: relative;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--accent-color);
  opacity: 0.3;
}

.swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}

/*******************journey**********************/
.journey-flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5rem;
  margin-top: 12vh;
}
.education {
  margin-left: 20rem;
  margin-top: 8rem;
  position: relative;
}
.education::before {
  content: "Education";
  font-weight: 600;
  font-size: 3rem;
  color: var(--heading-color);
  transform: translateX(-50%);
  position: absolute;
  top: -8rem;
  left: 0;
}
.education ul {
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding-left: 3rem;
  border-left: 0.3rem solid var(--accent-color);
}

.education ul li,
.internship ul li {
  position: relative;
}
.education ul li::after {
  content: "";
  width: 2.2rem;
  height: 2.2rem;
  background: var(--bg);
  border: 0.3rem solid var(--accent-color);
  position: absolute;
  top: -0.3rem;
  left: -3rem;
  transform: translateX(-53%);
  border-radius: 50rem;
}
.education ul li::before {
  height: 3.4rem;
  background: var(--accent-color);
  position: absolute;
  top: -0.5rem;
  left: -6rem;
  transform: translateX(-100%);
  color: var(--link-text);
  padding: 0.5rem 1.5rem 0;
  font-weight: 500;
  /* border-radius: 50rem; */
}
.education li:nth-of-type(1)::before {
  content: "2019 - Present";
}
.education li:nth-of-type(2)::before {
  content: "2018";
}
.education li:nth-of-type(3)::before {
  content: "2016";
}

.education li em::after {
  content: "";
  position: absolute;
  width: 7rem;
  height: 7rem;
  top: 4rem;
  left: -14rem;
  z-index: 1;
}
.education li:nth-of-type(1) em:after {
  background: url("./assets/organizations/sbu.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.education li:nth-of-type(2) em:after {
  background: url("./assets/organizations/aps.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.education li:nth-of-type(3) em:after {
  background: url("./assets/organizations/sfs.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.internship {
  margin-right: 20rem;
  margin-top: 8rem;
  position: relative;
}
.internship::before {
  content: "Internship";
  font-weight: 600;
  font-size: 3rem;
  color: var(--heading-color);
  transform: translateX(50%);
  position: absolute;
  top: -8rem;
  right: 0;
}
.internship ul {
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding-right: 3rem;
  border-right: 0.3rem solid var(--accent-color);
  text-align: right;
}
.internship ul li::after {
  content: "";
  width: 2.2rem;
  height: 2.2rem;
  background: var(--bg);
  border: 0.3rem solid var(--accent-color);
  position: absolute;
  top: -0.3rem;
  right: -3rem;
  transform: translateX(53%);
  border-radius: 50rem;
}
.internship ul li::before {
  height: 3.4rem;
  background: var(--accent-color);
  position: absolute;
  top: -0.5rem;
  right: -6rem;
  transform: translateX(100%);
  color: var(--link-text);
  padding: 0.5rem 1.5rem 0;
  font-weight: 500;
}
.internship li:nth-of-type(1)::before {
  content: "2021 - 2022";
}

.internship li em::after {
  content: "";
  position: absolute;
  width: 7rem;
  height: 7rem;
  top: 4rem;
  right: -14rem;
  z-index: 1;
}
.internship li:nth-of-type(1) em:after {
  background: url("./assets/organizations/Tutedudelogo.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/*********projects***************/
#projects {
  background: radial-gradient(
    50.03% 141.34% at 50.03% 50.05%,
    var(--project-bg1) 0%,
    var(--project-bg2) 100%
  );
}

#project-filters {
  padding: 0;
  margin: -2vh auto 3rem auto;
  list-style: none;
  text-align: center;
  background: var(--bg);
  padding: 0.2rem;
}

#project-filters li {
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
  border-radius: 0.4rem;
}

#project-filters li:hover,
#project-filters li.filter-active {
  background-color: var(--accent-color);
  color: var(--link-text);
}

#project-filters li:last-child {
  margin-right: 0;
}
.grid {
  width: 100%;
}
.grid:after {
  content: "";
  display: block;
  clear: both;
}

.project-item {
  position: relative;
  float: left;
  width: 25%;
  height: auto;
  padding: 1.5rem;
  flex: 0 0 auto;
}
.project-item:hover::before {
  top: 4rem;
  left: 4rem;
  opacity: 1;
}
.project-item::before {
  display: block;
  content: "";
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 0.3rem solid #d7dce1;
  border-left: 0.3rem solid #d7dce1;
  opacity: 0;
  transition: all 0.5s ease 0s;
  z-index: 9994;
  border-radius: 0.4rem;
}
.project-item:hover::after {
  bottom: 4rem;
  right: 4rem;
  opacity: 1;
}
.project-item::after {
  display: block;
  content: "";
  width: 50%;
  height: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 0.3rem solid #d7dce1;
  border-right: 0.3rem solid #d7dce1;
  opacity: 0;
  transition: all 0.5s ease 0s;
  z-index: 9994;
  border-radius: 0.4rem;
}
.project-item img {
  width: 100%;
}

.project-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  border-radius: 0.4rem;
}

.project-wrap h4 {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  font-size: 3rem;
  font-weight: 500;
  width: 100%;
  text-align: center;
  color: var(--link-text);
  opacity: 1;
  z-index: 4;
  opacity: 0;
}
.project-item:hover h4 {
  opacity: 1;
}

.project-wrap::before {
  content: "";
  background: var(--accent-color);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 3;
  opacity: 0;
}

.project-item:hover .project-wrap::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}
.project-item:hover img {
  filter: blur(0.8rem);
  -webkit-filter: blur(0.8rem);
}

/**********feat***********/
.glightbox-clean .gdesc-inner {
  padding: 1rem;
}
.glightbox-clean .gslide-title {
  font-size: 2.2rem !important;
  font-weight: 500;
  font-family: var(--main-font);
  color: var(--text-color);
  margin-bottom: 0;
  line-height: 1.4em;
  text-align: center;
}
.feat-bg {
  background-image: linear-gradient(
      90deg,
      var(--bg) 20%,
      var(--feat-bg) 50%,
      var(--bg) 80%
    ),
    url(./assets/pexels-kevin-ku-577585.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 2rem;
}
.feat-flex {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 5rem;
}
.feat-flex a {
  perspective: 120rem;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -15rem;
}
.feat-flex a:first-of-type img {
  margin-left: 15rem;
}
.feat-flex img {
  height: 30rem;
  transform: rotateY(35deg);
  transition: all 0.3s ease-in-out;
}

.feat-flex img:hover {
  margin-right: 15rem;
  transform: rotate(0);
}

.feat-flex::-webkit-scrollbar {
  display: block;
  height: 0.3rem;
}

.feat-flex::-webkit-scrollbar-track {
  background: transparent;
}

.feat-flex::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  max-width: 0.1rem;
  border-radius: 50rem;
}

.feat-flex::-webkit-scrollbar-track-piece:end {
  background: var(--nav-bg);
  margin-right: 30%;
  border-radius: 50rem;
}

.feat-flex::-webkit-scrollbar-track-piece:start {
  background: var(--nav-bg);
  margin-left: 30%;
  border-radius: 50rem;
}

/****************contact******************/

.contact-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}
/* .other-modes {
  width: 30%;
} */

.mode-item {
  display: flex;
  gap: 4rem;
  font-size: 2.2rem;
  color: var(--text-color);
  margin-bottom: 4rem;
}
.mode-item .mode-icon {
  background: var(--nav-bg);
  height: 7rem;
  width: 7rem;
  border-radius: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-color);
}
.mode-item h3 {
  font-size: 2.8rem;
  margin-bottom: 0rem;
}
.contact-form {
  width: 60%;
}
form {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
}
input,
textarea {
  border: none;
  background: var(--nav-bg);
  padding: 2rem;
  font-size: 2.2rem;
  font-family: var(--main-font);
  color: var(--text-color);
}
input:focus,
textarea:focus {
  outline: none !important;
  border: 0.2rem var(--accent-color) solid;
  border-radius: 0.4rem;
}
::placeholder {
  color: var(--text-color);
  font-size: 2.2rem;
}
.name-mail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
#name,
#email {
  flex-grow: 1;
}
form button {
  width: 18rem;
  height: 6rem;
  background: var(--accent-color);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2.4rem;
  margin-top: 2rem;
  align-self: center;
}

@media (max-width: 1400px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 1300px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 1160px) {
  html {
    font-size: 35%;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 30%;
  }
}
@media (max-width: 850px) {
  html {
    font-size: 25%;
  }
}
@media (max-width: 740px) {
  html {
    font-size: 40%;
  }
  section:not(#home) {
    width: 70%;
  }
  #home {
    background-position: left 150% top 0rem;
  }
  .introduction {
    flex-direction: column;
  }
  .Resume-btn {
    margin: 4rem auto 0;
  }
  .journey-flex {
    flex-direction: column;
    gap: 10rem;
  }
  .internship {
    align-self: flex-end;
  }
  .project-item {
    width: 50%;
  }
  .contact-flex {
    flex-direction: column;
    align-items: stretch;
  }
  .contact-form {
    width: 100%;
  }
}
@media (max-width: 610px) {
  .links-on-side {
    flex-direction: row;
    bottom: auto;
    top: 0;
    margin-top: 2rem;
  }
  .left-pane {
    display: none;
  }
  nav {
    bottom: 0;
    padding: 4rem 0 2rem;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100vw;
    background: linear-gradient(
      180deg,
      var(--nav-bg2) 0%,
      var(--mohit-bg-gradient4) 40%,
      var(--bg) 80%
    );
  }
  nav ul {
    flex-direction: row;
  }
  nav ul li a {
    flex-direction: column;
    width: auto;
    justify-content: center;
    transition: all 0.3s ease-in;
    font-size: 1.5rem;
  }
  nav ul li a:hover span {
    display: none;
  }
  nav ul li a:hover {
    color: var(--text-color);
    background: var(--nav-bg);
    width: auto;
  }
  nav ul li.active a span {
    display: block;
  }
  nav ul li.active a {
    color: var(--link-text);
    background: var(--accent-color);
    width: 100%;
  }
  #home {
    background-image: linear-gradient(
        180deg,
        var(--mohit-bg-gradient3) 20%,
        var(--mohit-bg-gradient4) 50%,
        var(--mohit-bg-gradient4) 100%
      ),
      url(./assets/mohit-bg.webp);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    margin-left: 0;
    /* z-index: -1; */
    padding-left: 6.5rem;
  }

  .feat-flex a:first-of-type img {
    margin-left: 18rem;
  }
  .feat-flex a {
    margin-left: -20rem;
  }

  .feat-flex img:hover {
    margin-right: 20rem;
  }

  #contact {
    padding-bottom: 15rem;
  }
  .name-mail {
    flex-direction: column;
    align-items: stretch;
  }
}

@media (max-width: 470px) {
  html {
    font-size: 37%;
  }
  section:not(#home) {
    width: 85%;
  }
  .back-to-top {
    bottom: 10rem;
  }
  /* .project-item {
    width: 100% !important;
    border: var(--accent-color) 0.1rem solid;
    border-radius: 0.4rem;
    margin-bottom: 2rem;
  } */
  .intro {
    width: 50rem;
  }
  .project-item {
    padding: 1rem 0.5rem;
  }

  .project-item:hover::before {
    top: 2rem;
    left: 2rem;
  }
  .project-item:hover::after {
    bottom: 2rem;
    right: 2rem;
  }
  .feat-flex a:first-of-type img {
    margin-left: 23rem;
  }
  .feat-flex a {
    margin-left: -25rem;
  }

  .feat-flex img:hover {
    margin-right: 25rem;
  }
  textarea {
    height: 15vh;
  }
}

@media (max-width: 330px) {
  html {
    font-size: 35%;
  }
  .feat-flex img {
    height: 65%;
  }
}
@media (max-width: 330px) {
  html {
    font-size: 30%;
  }
  .intro {
    width: auto;
  }
}
@media (max-aspect-ratio: 3/4) {
  .introduction {
    flex-direction: column;
  }
  .project-item {
    width: 50%;
  }
  .contact-flex {
    flex-direction: column;
    align-items: stretch;
  }
  .contact-form {
    width: 100%;
  }
}

/****************bubble************/
@keyframes wave {
  from,
  to {
    transform: translate(-50%, 0%);
  }

  50% {
    transform: translate(-50%, -20%);
  }
}

#bubble-wrapper {
  height: 100%;
  width: 100%;

  bottom: 0px;

  overflow: hidden;
}

.bubble {
  height: max(300px, 30vw);
  width: max(300px, 30vw);

  background-color: var(--accent-color);
  border-radius: 100%;

  position: absolute;
  left: 50%;
  top: 100%;
  z-index: 0;
  animation: wave 2s ease-in-out infinite;
}

@media (prefers-reduced-motion) {
  .bubble {
    animation: none;
    display: none;
  }
}
