:root {
  --nav-bg: #f2f3f5;
  --link-text: #fff;
  --accent-color: #8a3ffc;
  --accent-color-faded: #8b3ffc10;
  --heading-color: #252a7c;
  --text-color: #484848;
  /*background-color: aliceblue; bg green*/
  --blue-border: #5d81cb60; /*blue border*/
  --main-font: "Raleway", sans-serif;
  --border-radius: 50rem;
  --shadow: 0.2rem 0.3rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
  --bg: #fff;
}
/*bubbles z index
bullets
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: all 0.5s; */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html {
  font-size: 50%;
  font-family: var(--main-font);
  color: var(--text-color);
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
body {
  background-color: #fdfdfd;
}
button {
  border: none;
  font-family: var(--main-font);
  color: var(--link-text);
  cursor: pointer;
}
a {
  text-decoration: none;
  cursor: pointer;
}
/*********************************/
main {
  overflow: hidden;
}
section {
  min-height: 100vh;
  padding: 5.5rem 0rem;
  position: relative;
}
section:not(#home) {
  width: 135rem;
  margin: auto;
}
h2 {
  color: var(--heading-color);
  font-weight: 700;
  font-size: 5rem;
  margin-bottom: 8vh;
}
section:not(#home):after {
  content: "";
  width: 1.433rem;
  height: 6.855rem;
  background-color: var(--accent-color);
  position: absolute;
  top: 5rem;
  left: -4rem;
}
h3 {
  font-weight: 600;
  font-size: 4rem;
  line-height: 4.7rem;
  color: var(--heading-color);
  margin-bottom: 1.5rem;
}

/*************nav********************/
nav ul li svg {
  transform: scale(0.9);
}
nav {
  position: fixed;
  top: 0;
  left: 2rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

nav ul {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}
li {
  list-style: none;
}

nav ul li a {
  display: flex;
  align-items: center;
  color: var(--text-color);
  padding: 1rem 2.3rem;
  transition: 0.3s;
  font-size: 2rem;
  border-radius: 50rem;
  background: var(--nav-bg);
  height: 7rem;
  width: 7rem;
  overflow: hidden;
}
nav ul li a span {
  display: none;
  padding: 0 1rem;
}
nav ul li a:hover span {
  display: block;
}
nav ul li a:hover {
  color: var(--link-text);
  background: var(--accent-color);
  width: 100%;
}

/* nav ul li.active {
} */
nav ul li.active a {
  color: var(--link-text);
  background: var(--accent-color);
}

/*************home********************/

#home {
  background-image: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.19) 0.01%,
      rgba(255, 255, 255, 0.192887) 0.02%,
      rgba(255, 255, 255, 0.2) 46.88%,
      #ffffff 98.88%,
      #ffffff 100%
    ),
    url(./assets/mohit-bg.jpg);
  background-size: 92%;
  background-position: left 150% top -15rem;
  background-attachment: fixed;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-weight: 500;
  font-size: 4.5rem;
  margin-left: 12%;
  z-index: -1;
  padding-left: 3.5rem;
}
.left-pane {
  width: 13%;
  height: 100%;
  background: var(--bg);
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
}

#home h1 {
  font-weight: 700;
  font-size: 8.5rem;
  line-height: 169.4%;
}

/*************about********************/
#about {
  position: relative;
}

.introduction {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  gap: 5rem;
}

.img-container {
  height: 40rem;
  width: 50rem;
  cursor: pointer;
}
.img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.img-box img {
  position: absolute;
}
.front {
  z-index: 1;
  opacity: 0;
  width: 60%;
}
.back {
  /* filter: hue-rotate(180deg); */
  z-index: -1;
}
.mohit {
  width: 42%;
  transform: translate(0, -5%);
}
.icss {
  width: 60%;
}
.ihtml {
  transform: translate(-45%, 0);
  width: 43%;
}
.img-box:hover .ihtml {
  transform: rotate(-10deg) translate(-92%, 0);
  overflow: hidden;
}
.ijs {
  transform: translate(40%, 0);
  width: 43%;
}
.img-box:hover .ijs {
  transform: rotate(10deg) translate(91%, 0);
  overflow: hidden;
}
.img-box:hover .front {
  opacity: 1;
}

.intro {
  width: 60rem;
  font-size: 2.2rem;
  color: var(--text-color);
  line-height: 3rem;
}
.intro ul li {
  list-style: none;
  margin-top: 1.5rem;
}
.intro em {
  font-size: 2rem;
}
.Resume-btn {
  width: 18rem;
  height: 6rem;
  background: var(--accent-color);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2.5rem;
  margin-top: 2rem;
}

.slider-container {
  background: radial-gradient(
    50.03% 2550.33% at 50.03% 50%,
    rgba(138, 63, 252, 0.05) 0%,
    rgba(9, 10, 29, 0) 100%
  );
  z-index: 111;
  padding: 2rem 0 0;
  margin-top: 8vh;
}

.skill-set {
  display: flex;
  gap: 3rem;
  opacity: 0.7;
}
.swiper-slide .skill-item {
  height: 8rem;
}
.swiper-slide .skill-item img {
  height: 100%;
}

.swiper-pagination {
  margin-top: 5rem;
  position: relative;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--accent-color);
  opacity: 0.3;
}

.swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}

/*******************journey**********************/
.journey-flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5rem;
  margin-top: 12vh;
}
.education {
  margin-left: 20rem;
  margin-top: 8rem;
  position: relative;
}
.education::before {
  content: "Education";
  font-weight: 600;
  font-size: 3rem;
  color: var(--heading-color);
  transform: translateX(-50%);
  position: absolute;
  top: -8rem;
  left: 0;
}
.education ul {
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding-left: 3rem;
  border-left: 0.3rem solid var(--accent-color);
}

.education ul li,
.internship ul li {
  position: relative;
}
.education ul li::after {
  content: "";
  width: 2.2rem;
  height: 2.2rem;
  background: var(--bg);
  border: 0.3rem solid var(--accent-color);
  position: absolute;
  top: -0.3rem;
  left: -3rem;
  transform: translateX(-53%);
  border-radius: 50rem;
}
.education ul li::before {
  height: 3.4rem;
  background: var(--accent-color);
  position: absolute;
  top: -0.5rem;
  left: -6rem;
  transform: translateX(-100%);
  color: var(--link-text);
  padding: 0.5rem 1.5rem 0;
  font-weight: 500;
  border-radius: 50rem;
}
.education li:nth-of-type(1)::before {
  content: "2019 - Present";
}
.education li:nth-of-type(2)::before {
  content: "2018";
}
.education li:nth-of-type(3)::before {
  content: "2016";
}

.internship {
  margin-right: 20rem;
  margin-top: 8rem;
  position: relative;
}
.internship::before {
  content: "Internship";
  font-weight: 600;
  font-size: 3rem;
  color: var(--heading-color);
  transform: translateX(50%);
  position: absolute;
  top: -8rem;
  right: 0;
}
.internship ul {
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding-right: 3rem;
  border-right: 0.3rem solid var(--accent-color);
  text-align: right;
}
.internship ul li::after {
  content: "";
  width: 2.2rem;
  height: 2.2rem;
  background: var(--bg);
  border: 0.3rem solid var(--accent-color);
  position: absolute;
  top: -0.3rem;
  right: -3rem;
  transform: translateX(53%);
  border-radius: 50rem;
}
.internship ul li::before {
  height: 3.4rem;
  background: var(--accent-color);
  position: absolute;
  top: -0.5rem;
  right: -6rem;
  transform: translateX(100%);
  color: var(--link-text);
  padding: 0.5rem 1.5rem 0;
  font-weight: 500;
}
.internship li:nth-of-type(1)::before {
  content: "2021 - 2022";
}

/*********projects***************/
#projects {
  background: radial-gradient(
    50.03% 141.34% at 50.03% 50.05%,
    rgba(138, 63, 252, 0.05) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
}

#project-filters {
  padding: 0;
  margin: -2vh auto 3rem auto;
  list-style: none;
  text-align: center;
  background: #fff;
  padding: 0.2rem;
}

#project-filters li {
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
  border-radius: 0.4rem;
}

#project-filters li:hover,
#project-filters li.filter-active {
  background-color: var(--accent-color);
  color: var(--link-text);
}

#project-filters li:last-child {
  margin-right: 0;
}

.project-item {
  width: 33.33333333%;
  height: auto;
  padding: 1.5rem;
}
.project-item img {
  width: 100%;
}

.project-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.project-wrap h4 {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  font-size: 3rem;
  font-weight: 600;
  width: 100%;
  text-align: center;
  color: var(--link-text);
  opacity: 1;
  z-index: 4;
  opacity: 0;
}
.project-wrap:hover h4 {
  opacity: 1;
}

.project-wrap::before {
  content: "";
  background: var(--accent-color);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 3;
  opacity: 0;
}

.project-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}
.project-wrap:hover img {
  filter: blur(0.8rem);
  -webkit-filter: blur(0.8rem);
}

/**********feat***********/
.feat-flex {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 5rem;
  background-image: url(./assets/pexels-kevin-ku-577585.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.feat-flex a {
  perspective: 120rem;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -15rem;
  transition: margin 0.3s ease-in-out;
}
.feat-flex a:first-of-type {
  margin-left: 5rem;
}
.feat-flex img {
  height: 40vh;
  width: auto;
  transform: rotateY(35deg);
  transition: transform 0.3s ease-in-out;
}

.feat-flex a:hover {
  margin-right: 15rem;
  /* margin-top: -5rem; */
  perspective: none;
}
.feat-flex a:hover img {
  transform: rotate(0);
}
.feat-flex::-webkit-scrollbar {
  display: block;
  height: 1.3rem;
}

.feat-flex::-webkit-scrollbar-track {
  background: transparent;
}

.feat-flex::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  max-width: 0.1rem;
  border-radius: 50rem;
}

.feat-flex::-webkit-scrollbar-track-piece:end {
  background: var(--nav-bg);
  margin-right: 30vw;
  border-radius: 50rem;
}

.feat-flex::-webkit-scrollbar-track-piece:start {
  background: var(--nav-bg);
  margin-left: 30vw;
  border-radius: 50rem;
}

/****************contact******************/
form {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}
input,
textarea {
  border: none;
  background: var(--nav-bg);
  padding: 2rem;
  font-size: 2.2rem;
  font-family: var(--main-font);
}
input:focus,
textarea:focus {
  outline: none !important;
  border: 0.2rem var(--accent-color) solid;
  border-radius: 0.4rem;
}
::placeholder {
  color: var(--text-color);
  font-size: 2.2rem;
}
.name-mail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
#name,
#email {
  flex-grow: 1;
}
form button {
  width: 18rem;
  height: 6rem;
  background: var(--accent-color);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2.5rem;
  margin-top: 2rem;
  align-self: center;
}
